/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/*fonts*/

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helveticaneueroman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helveticaneuebold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


/*styling aankondigingsster*/
header > aside > img {
  width: 8%;
  height: 2vh;
}

/*styling hamburgermenu icoon*/
nav img{
  width: 100%; 
  height: 5vh;
}

/*algemene button styling*/
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

button svg, a svg {
  display: block;
  width: 2em;
  height: 2em;
  stroke:black;
  stroke-width: 1rem;
  fill: transparent;
}

nav > button:nth-of-type(2) svg {
	display: block;
  width: 2em;
  height: 2em;
  stroke:black;
  stroke-width: 1rem;
  fill: transparent;
}

header > nav  {
position:fixed;
}

header > nav {
  top: 1rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  padding: 0;
  z-index: 10;
}

/*footer styling*/

footer img {
    max-width: 10%; 
  height: 5vh;

}

footer > nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em; 
}


footer > section:first-of-type > h2 {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

/*bron voor het verbergen van de h2
https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/
 */

footer > nav > section a {
  text-decoration: none;
  line-height: 2em;
  color: black;

}

footer ul {
  list-style: none;
}

/*styling grijze footer blokken*/


  footer > section:first-of-type ul {
      display: flex;
     flex-wrap: wrap; 
  }


footer > section:first-of-type li {
 width: 50%;        
  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: #f5f5f5;
  border: .1em solid #e3e3e3;     
}

footer > section:first-of-type a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

/*iconen in de grijzew blokken*/ 
footer > section:first-of-type ul li a img {
  width: 1em;   
  height: auto;  
}

footer a {
font-family: "HelveticaNeue", sans-serif;
}

footer nav h2 {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
