/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/




header > section:first-of-type {
  position: relative;
}

header > section > img {
  width: 100%;
  height: 50vh;
  display: block;
}

 h1 {
  bottom: 3rem;  
  font-size: 2.2rem;
  position: absolute;
  left: 1rem;
  color: white;
}

header > section:first-of-type > p {
  position: absolute;
  left: 1rem;
  color: white;
  bottom: 1.5rem;
  font-size: 1rem;
}

footer img {
    max-width: 10%; 
  height: 5vh;

}


