/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

body {
  margin: 0;
}

main > section > img {
  width: 100vw;
  height: 63vh;
  display: block;
}

main > section:first-of-type {
  position: relative; 
}

h1 {
  position: absolute;
  left: 1rem;
  bottom: 3rem;
  font-size: 2.2rem;
  color: white;
}

main > section:first-of-type > p {
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
  font-size: 1rem;
  color: white;
}

main {
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

